.wrap {
    width: 960px;
    margin: 0 auto;
    padding: 5px;
}

h1,
h2,
h4 {
    padding: 12px 0;
}

.wrap .main div {
    margin-bottom: 15px;
}

.strees {
    font-weight: 800;
}

.about ul li,
.connect ul li {
    float: left;
    margin-right: 15px;
}